Repository Team-Jemini/Trippy-FE, pull requests merged in 2025-07, with the labels that each got.

#5 [fix] : 누락된 css 파일 업로드 #2
  trippy-client/.gitignore
  trippy-client/postcss.config.js
  trippy-client/tailwind.config.js
Labels: Home

#13 [FEAT] : 홈 뷰 퍼블리싱 (#12)
  trippy-client/src/App.vue
  trippy-client/src/components/common/ToggleSwitch.vue
  trippy-client/src/components/home/AccountCard.vue
  trippy-client/src/components/home/ExchangeRateItems.vue
  trippy-client/src/components/home/ShortCutItems.vue
  trippy-client/src/components/home/index.vue
  trippy-client/src/components/layouts/TopNavigationBar.vue
  trippy-client/src/views/HomeView.vue
Labels: Home

#16 [FEAT] 환율 정보 리스트 기능(#4)
  .idea/.gitignore
  .idea/Trippy-FE.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  package-lock.json
  package.json
  trippy-client/_dummy/exchange_dummy.json
  trippy-client/public/exchange_dummy.json
  trippy-client/src/App.vue
  trippy-client/src/assets/exchangeButton.png
  trippy-client/src/assets/exchangeButton.svg
  trippy-client/src/router/index.js
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/exchangeCurrency/ExchangeCurrencySelect.vue
  trippy-client/src/views/exchangeRate/exchangeRateList.vue
Labels: exchange

#20 [FEAT] 로딩 컴포넌트 생성 #19
  trippy-client/src/_dummy/exchange_dummy.json
  trippy-client/src/assets/svg/plane.svg
  trippy-client/src/assets/svg/trippy.svg
  trippy-client/src/components/common/EmailInput.vue
  trippy-client/src/components/common/LodingView.vue
  trippy-client/src/router/index.js
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/exchangeCurrency/ExchangeCurrencySelectView.vue
  trippy-client/src/views/exchangeRate/exchangeRateList.vue
  trippy-client/src/views/exchangeRate/exchangeRateListView.vue
  trippy-client/src/views/group-account/GroupAccountAgreementStep1View.vue
  trippy-client/src/views/group-account/GroupAccountAgreementStep2View.vue
Labels: loding

#29 [FEAT] 신분증 등록 뷰
  trippy-client/package-lock.json
  trippy-client/src/assets/Idcard.png
  trippy-client/src/assets/default_profile.png
  trippy-client/src/assets/default_qr.png
  trippy-client/src/assets/svg/person.svg
  trippy-client/src/assets/tailwind.css
  trippy-client/src/components/common/TabMenu.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/group-account/GroupAccountAgreementStep2View.vue
  trippy-client/src/views/identification/IdCaptureGuideView.vue
  trippy-client/src/views/identification/IdRegistrationView.vue
  trippy-client/src/views/identification/IdView.vue
  trippy-client/tailwind.config.js
Labels: Identification

#31 [FEAT] : 모임통장개설 정보 입력 뷰 (#27)
  trippy-client/src/assets/tailwind.css
  trippy-client/src/components/common/EmailInput.vue
  trippy-client/src/components/common/LodingView.vue
  trippy-client/src/components/group-account/AgreementAccountPassword.vue
  trippy-client/src/components/group-account/AgreementItem.vue
  trippy-client/src/components/group-account/YesNoSelector.vue
  trippy-client/src/components/home/ShortCutItems.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/router/index.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/exchange-currency/ExchangeCurrencySelectView.vue
  trippy-client/src/views/exchange-rate/ExchangeRateListView.vue
  trippy-client/src/views/group-account/GroupAccountAgreementStep1View.vue
  trippy-client/src/views/group-account/GroupAccountAgreementStep2View.vue
  trippy-client/src/views/group-account/GroupAccountAgreementStep3View.vue
  trippy-client/src/views/group-account/GroupAccountCreateIntroView.vue
Labels: groupAccount

#34 [FEAT] 항공권 리스트 조회하기 뷰 (#24)
  trippy-client/src/_dummy/airTicket_dummy.json
  trippy-client/src/components/air-ticket/EmptyTicket.vue
  trippy-client/src/components/air-ticket/TicketItem.vue
  trippy-client/src/components/common/LoadingOverlay.vue
  trippy-client/src/components/common/QuickReloadButton.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/index.js
  trippy-client/src/stores/airTicketStore.js
  trippy-client/src/views/air-ticket/AirTicketView.vue
Labels: AirTicket

#44 [FEAT] 항공권 확인 및 사용 후 내역보기 (#35)
  trippy-client/src/_dummy/airTicket_dummy.json
  trippy-client/src/assets/korean_air_logo.png
  trippy-client/src/assets/svg/korean_air_logo.svg
  trippy-client/src/components/air-ticket/TicketItem.vue
  trippy-client/src/components/air-ticket/TicketModal.vue
  trippy-client/src/views/air-ticket/AirTicketView.vue
Labels: AirTicket

#38 [FEAT] 개인 계좌 등록 뷰 개발
  trippy-client/package-lock.json
  trippy-client/src/App.vue
  trippy-client/src/_dummy/terms.js
  trippy-client/src/components/common/NextButton.vue
  trippy-client/src/components/common/inputs/EmailInput.vue
  trippy-client/src/components/common/inputs/RegistNumberInput.vue
  trippy-client/src/components/common/inputs/SMSCodeInput.vue
  trippy-client/src/components/common/inputs/TextInput.vue
  trippy-client/src/components/common/modals/AlertModal.vue
  trippy-client/src/components/common/modals/TermsModal.vue
  trippy-client/src/components/home/AccountCard.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/components/layouts/TopNavigationBar.vue
  trippy-client/src/components/personal-accounts/import-accounts/FirstStep.vue
  trippy-client/src/components/personal-accounts/import-accounts/SecondStep.vue
  trippy-client/src/components/personal-accounts/import-accounts/ThirdStep.vue
  trippy-client/src/layouts/DefaultLayout.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/group-account/GroupAccountAgreementStep1View.vue
  trippy-client/src/views/group-account/GroupAccountAgreementStep2View.vue
  trippy-client/src/views/group-account/GroupAccountCreateIntroView.vue
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: PersonalAccounts

#48 [FEAT] 모임계좌 모임주 대표계좌 설정 및 개설 완료 페이지 퍼블리싱(#33)
  trippy-client/src/_dummy/accountList_dummy.json
  trippy-client/src/assets/svg/copy-icon.svg
  trippy-client/src/components/group-account/RepresentativeAccountList.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/group-account/AgreementStep1View.vue
  trippy-client/src/views/group-account/AgreementStep2View.vue
  trippy-client/src/views/group-account/AgreementStep3View.vue
  trippy-client/src/views/group-account/AgreementStep4View.vue
  trippy-client/src/views/group-account/CreateCompleteView.vue
  trippy-client/src/views/group-account/CreateIntroView.vue
  trippy-client/vite.config.js
Labels: groupAccount

#36 [FEAT] 환전 기능 - 통화, 계좌 선택 뷰 및 금액 입력 뷰 구현 (#21)
  trippy-client/_dummy/exchange_dummy.json
  trippy-client/src/_dummy/bankAccounts_dummy.js
  trippy-client/src/assets/currencyToCountryCodes.js
  trippy-client/src/assets/svg/bankLogo/hana.svg
  trippy-client/src/assets/svg/bankLogo/kookmin.svg
  trippy-client/src/assets/svg/bankLogo/nonghyeop.svg
  trippy-client/src/assets/svg/bankLogo/shinhan.svg
  trippy-client/src/assets/svg/triangle.svg
  trippy-client/src/components/common/inputs/EmailInput.vue
  trippy-client/src/components/home/ShortCutItems.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/index.js
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/exchange-currency/InputAmountView.vue
  trippy-client/src/views/exchange-currency/SelectAccountView.vue
  trippy-client/src/views/exchange-currency/SelectView.vue
  trippy-client/src/views/exchange-rate/ExchangeRateListView.vue
Labels: exchange

#50 [FEAT] 모임계좌 개인정보 확인 뷰 퍼블리싱 (#49)
  trippy-client/src/router/groupAccount.js
  trippy-client/src/views/group-account/AgreementStep4View.vue
  trippy-client/src/views/group-account/AgreementStep5View.vue
  trippy-client/src/views/group-account/AgreementStep6View.vue
Labels: groupAccount

#52 [REFACTOR] 모임계좌 개설 리펙토링 (#51)
  trippy-client/src/components/common/ToggleSwitch.vue
  trippy-client/src/components/home/AccountCard.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/HomeView.vue
  trippy-client/src/views/group-account/AgreementStep2View.vue
  trippy-client/src/views/group-account/AgreementStep3View.vue
  trippy-client/src/views/group-account/CreateIntroView.vue
  trippy-client/src/views/group-account/create-account/AgreementStep1View.vue
  trippy-client/src/views/group-account/create-account/AgreementStep2View.vue
  trippy-client/src/views/group-account/create-account/AgreementStep3View.vue
  trippy-client/src/views/group-account/create-account/AgreementStep4View.vue
  trippy-client/src/views/group-account/create-account/AgreementStep5View.vue
  trippy-client/src/views/group-account/create-account/AgreementStep6View.vue
  trippy-client/src/views/group-account/create-account/CreateCompleteView.vue
  trippy-client/src/views/group-account/create-account/CreateIntroView.vue
Labels: groupAccount

#55 [FEAT] 계좌 등록 동의문 뷰 퍼블리싱
  trippy-client/index.html
  trippy-client/src/App.vue
  trippy-client/src/_dummy/data.json
  trippy-client/src/components/common/NextButton.vue
  trippy-client/src/components/common/inputs/RegistNumberInput.vue
  trippy-client/src/components/common/inputs/TextInput.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/components/layouts/TopNavigationBar.vue
  trippy-client/src/components/personal-accounts/import-accounts/AgreeToTerms.vue
  trippy-client/src/layouts/DefaultLayout.vue
  trippy-client/src/views/HomeView.vue
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: PersonalAccounts

#58 [FEAT] 이용전 이용후 슬라이드 구분 및 로직 분류및 헤더 연결 (#43)
  trippy-client/src/_dummy/airTicket_dummy.json
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/air-ticket/AirTicketView.vue
Labels: AirTicket

#60 [FEAT] 비밀번호 입력 페이지 퍼블리싱
  trippy-client/src/assets/tailwind.css
  trippy-client/src/components/common/inputs/PasswordInput.vue
  trippy-client/src/components/common/modals/AlertModal.vue
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: PersonalAccounts

#63 [FEAT] 계좌 로딩 뷰 퍼블리싱
  trippy-client/src/components/common/loading/LoadingOverlay.vue
  trippy-client/src/components/common/loading/LoadingView.vue
  trippy-client/src/components/common/loading/OnLoading.vue
  trippy-client/src/views/air-ticket/AirTicketView.vue
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: PersonalAccounts

#65 [FEAT] 결제/결제 설정뷰 퍼블리싱
  trippy-client/src/assets/svg/card/hana.svg
  trippy-client/src/assets/svg/card/kakao.svg
  trippy-client/src/assets/svg/card/kb.svg
  trippy-client/src/assets/svg/card/nh.svg
  trippy-client/src/assets/svg/card/shinhan.svg
  trippy-client/src/assets/svg/card/toss.svg
  trippy-client/src/assets/svg/card/woori.svg
  trippy-client/src/assets/svg/detail.svg
  trippy-client/src/assets/svg/x_button.svg
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/components/payment/Card.vue
  trippy-client/src/components/payment/CardList.vue
  trippy-client/src/components/payment/CardListItem.vue
  trippy-client/src/components/payment/CardOptionsModal.vue
  trippy-client/src/components/payment/DeleteCardModal.vue
  trippy-client/src/components/payment/SetMainCardModal.vue
  trippy-client/src/components/payment/index.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/payment/CardNicknameView.vue
  trippy-client/src/views/payment/PaymentView.vue
  trippy-client/src/views/payment/SettingsView.vue
Labels: Payment

#56 [FEAT] 여행로그 메인화면 /여행로그 생성 뷰 (#17)
  trippy-client/package-lock.json
  trippy-client/src/App.vue
  trippy-client/src/_dummy/travelLogs.json
  trippy-client/src/assets/travelLogEmpty.png
  trippy-client/src/components/common/RoundedCard.vue
  trippy-client/src/components/common/index.vue
  trippy-client/src/components/home/ShortCutItems.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/components/travel-logs/EmptyState.vue
  trippy-client/src/components/travel-logs/FloatingAddButton.vue
  trippy-client/src/components/travel-logs/GroupAccountModal.vue
  trippy-client/src/components/travel-logs/LogYearHeader.vue
  trippy-client/src/components/travel-logs/RoundedCard.vue
  trippy-client/src/components/travel-logs/TravelOptions.vue
  trippy-client/src/router/index.js
  trippy-client/src/router/travelLog.js
  trippy-client/src/views/TravelLogsView.vue
  trippy-client/src/views/boucher/BoucherView.vue
  trippy-client/src/views/payment/PaymentView.vue
  trippy-client/src/views/travel-logs/MapView.vue
  trippy-client/src/views/travel-logs/NewLog.vue
Labels: TravelLog

#69 [FEAT] 등록할 계좌 선택 뷰 퍼블리싱
  trippy-client/src/_dummy/bankAccounts_dummy.js
  trippy-client/src/components/personal-accounts/SelectAccountItem.vue
  trippy-client/src/components/personal-accounts/import-accounts/CompleteImport.vue
  trippy-client/src/components/personal-accounts/import-accounts/InputForm.vue
  trippy-client/src/components/personal-accounts/import-accounts/Intro.vue
  trippy-client/src/components/personal-accounts/import-accounts/SMSCertification.vue
  trippy-client/src/components/personal-accounts/import-accounts/SelectAccounts.vue
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: PersonalAccounts

#70 [Feat] 여권 뷰 퍼블리싱(#30)
  trippy-client/package.json
  trippy-client/src/_dummy/countries_50.js
  trippy-client/src/components/common/inputs/EditableInput.vue
  trippy-client/src/components/identification/ActionButton.vue
  trippy-client/src/components/identification/CountrySelect.vue
  trippy-client/src/components/identification/DatePicker.vue
  trippy-client/src/components/identification/DetailInfo.vue
  trippy-client/src/components/identification/DocumentIntro.vue
  trippy-client/src/components/identification/FooterInfo.vue
  trippy-client/src/components/identification/GenderSelect.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/layouts/TabViewLayout.vue
  trippy-client/src/router/identification.js
  trippy-client/src/router/index.js
  trippy-client/src/views/identification/passport/CaptureGuideView.vue
  trippy-client/src/views/identification/passport/RegistrationView.vue
  trippy-client/src/views/identification/resident-card/RegistrationView.vue
  trippy-client/src/views/identification/resident-card/ResidentCardView.vue
Labels: Identification

#67 [FEAT] 환전 기능 중 환전 완료 정보 표시 뷰(#37)
  trippy-client/src/_dummy/bankAccounts_dummy.js
  trippy-client/src/assets/utils/numbeWithCommas.js
  trippy-client/src/components/common/index.vue
  trippy-client/src/router/index.js
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/exchange-currency/FinishExchangeView.vue
  trippy-client/src/views/exchange-currency/InputAmountView.vue
  trippy-client/src/views/exchange-currency/SelectAccountView.vue
  trippy-client/src/views/exchange-currency/SelectView.vue
  trippy-client/src/views/exchange-rate/ExchangeRateListView.vue
  trippy-client/src/views/payment/PaymentView.vue
Labels: exchange

#76 [REFACTOR] 모임계좌 개설 페이지 가운데 정렬(#73)
  trippy-client/src/components/common/AgreementCheck.vue
  trippy-client/src/views/group-account/create-account/AgreementStep1View.vue
  trippy-client/src/views/group-account/create-account/AgreementStep2View.vue
Labels: groupAccount

#78 [FEAT] 주민등록 뷰 공통 컴포넌트 적용(#71)
  trippy-client/src/assets/Idcard.png
  trippy-client/src/components/common/inputs/EditableInput.vue
  trippy-client/src/components/identification/DocumentIntro.vue
  trippy-client/src/components/identification/HeaderNotice.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/identification.js
  trippy-client/src/views/identification/resident-card/RegistrationView.vue
Labels: Identification

#83 [FEAT] 결제/ 카드 등록 뷰
  trippy-client/src/_dummy/terms_card.js
  trippy-client/src/assets/empty_card.png
  trippy-client/src/components/common/modals/TermsModal.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/components/payment/Card.vue
  trippy-client/src/components/payment/CardCarousel.vue
  trippy-client/src/components/payment/DeleteCardModal.vue
  trippy-client/src/components/payment/QrCode.vue
  trippy-client/src/components/payment/SetMainCardModal.vue
  trippy-client/src/components/payment/import-cards/Complete.vue
  trippy-client/src/components/payment/import-cards/Intro.vue
  trippy-client/src/components/payment/import-cards/Loading.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/payment/ImportCardView.vue
  trippy-client/src/views/payment/SettingsView.vue
Labels: Payment

#91 [FEAT] 계좌 설정 뷰 퍼블리싱(#88)
  trippy-client/src/components/group-account/MemberSettings.vue
  trippy-client/src/components/group-account/OwnerSettings.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/router/index.js
  trippy-client/src/views/group-account/settings/GroupAccountSettingsWrapper.vue
Labels: groupAccount

#90 [FEAT] 거래 내역 상세 뷰 퍼블리싱 (#74)
  trippy-client/src/_dummy/transactions_dummy.json
  trippy-client/src/assets/tailwind.css
  trippy-client/src/assets/utils/index.js
  trippy-client/src/assets/utils/numbeWithCommas.js
  trippy-client/src/components/account/TransactionFilter.vue
  trippy-client/src/components/account/TransactionItem.vue
  trippy-client/src/components/common/CategoryChip.vue
  trippy-client/src/components/common/TransferButton.vue
  trippy-client/src/components/common/inputs/SMSCodeInput.vue
  trippy-client/src/components/common/modals/TermsModal.vue
  trippy-client/src/components/home/AccountCard.vue
  trippy-client/src/components/identification/CapturePreview.vue
  trippy-client/src/components/payment/CardOptionsModal.vue
  trippy-client/src/layouts/DefaultLayout.vue
  trippy-client/src/layouts/TabViewLayout.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/exchange-rate/ExchangeRateListView.vue
  trippy-client/src/views/group-account/create-account/AgreementStep3View.vue
  trippy-client/src/views/personal-accounts/AccountDetailView.vue
  trippy-client/tailwind.config.js
Labels: Account

#96 [FEAT] 로그인 뷰 퍼블리싱 (#93)
  trippy-client/src/components/common/inputs/PasswordInput.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/login/LoginView.vue
Labels: Athentication

#86 [FEAT] 정산 요청 뷰 퍼블리싱(#77)
  trippy-client/src/_dummy/peopleList.json
  trippy-client/src/components/common/inputs/AmountInput.vue
  trippy-client/src/components/group-account/SettleMemberItem.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupMemberStore.js
  trippy-client/src/stores/useSettleStore.js
  trippy-client/src/views/group-account/settle-request/EnterSettleAmountView.vue
  trippy-client/src/views/group-account/settle-request/SettleCompleteView.vue
  trippy-client/src/views/group-account/settle-request/TargetView.vue
Labels: groupAccount

#100 [FEAT] 계좌 리스트 아이템 컴포넌트화 (#98)
  trippy-client/src/components/account/AccountItem.vue
  trippy-client/src/views/exchange-currency/SelectAccountView.vue
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: Account

#103 [FEAT] 계좌 선택 목록 모달 개발 (#102)
  trippy-client/src/_dummy/bankAccounts_dummy.js
  trippy-client/src/components/account/SelectAccountModal.vue
  trippy-client/src/components/common/TransferButton.vue
  trippy-client/src/views/exchange-currency/SelectAccountView.vue
  trippy-client/src/views/personal-accounts/AccountDetailView.vue
Labels: Account

#118 [FEAT] 키패드 컴포넌트 분리 (#113)
  trippy-client/src/components/account/AmountInputScreen.vue
  trippy-client/src/components/common/NumberKeypad.vue
  trippy-client/src/components/common/inputs/PasswordInput.vue
Labels: Common

#106 [FEAT] 모임계좌 참여하기 뷰 퍼블리싱(#99)
  trippy-client/src/components/common/modals/GroupAccountJoinModal.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupAccountJoinStore.js
  trippy-client/src/views/group-account/join/AgreeTermsView.vue
  trippy-client/src/views/group-account/join/JoinComplete.vue
  trippy-client/src/views/group-account/join/PickRepresentativeView.vue
Labels: groupAccount

#109 [FEAT] 모임계좌 상세 뷰 퍼블리싱(#108)
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/group-account/settings/GroupAccountSettingsWrapper.vue
Labels: groupAccount

#111 [FEAT] 모임원 보기 뷰 퍼블리싱(#110)
  trippy-client/src/_dummy/groupMembers_dummy.json
  trippy-client/src/components/common/inputs/SearchInput.vue
  trippy-client/src/components/group-account/MemberSettings.vue
  trippy-client/src/components/group-account/OwnerSettings.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupMemberStore.js
  trippy-client/src/views/group-account/settings/MemberListView.vue
Labels: groupAccount
