Repository Team-Jemini/Trippy-FE, pull requests merged in 2025-08, with the labels that each got.

#125 [FEAT] 메뉴 및 설정, 마이페이지 퍼블리싱(#122)
  trippy-client/src/router/index.js
  trippy-client/src/views/AppSettingView.vue
  trippy-client/src/views/MenuView.vue
  trippy-client/src/views/MyPageView.vue
Labels: Menu

#127 [FEAT] 카카오톡 공유하기 API연동 (#126)
  trippy-client/index.html
  trippy-client/src/assets/kakao.png
  trippy-client/src/assets/svg/kakao.svg
  trippy-client/src/components/common/modals/GroupAccountJoinModal.vue
  trippy-client/src/components/group-account/MemberSettings.vue
  trippy-client/src/components/group-account/OwnerSettings.vue
  trippy-client/src/main.js
  trippy-client/src/stores/groupAccountJoinStore.js
  trippy-client/src/views/HomeView.vue
  trippy-client/src/views/group-account/create-account/CreateCompleteView.vue
  trippy-client/src/views/group-account/settings/MemberListView.vue
Labels: groupAccount

#120 [FEAT] 개인 계좌 송금하기 뷰 퍼블리싱 (#117)
  trippy-client/src/_dummy/banks_dummy.js
  trippy-client/src/components/account/AmountInputScreen.vue
  trippy-client/src/components/common/inputs/AmountInput.vue
  trippy-client/src/components/common/inputs/SelectInput.vue
  trippy-client/src/components/personal-accounts/SendFormScreen.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/personal-accounts/SendMoneyView.vue
Labels: PersonalAccounts

#128 [FEAT] 모임계좌 송금하기 뷰 퍼블리싱(#115)
  trippy-client/src/components/account/AmountInputScreen.vue
  trippy-client/src/components/common/inputs/AmountInput.vue
  trippy-client/src/components/layouts/BottomNavigationBar.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/group-account/transfer/EnterAmountView.vue
  trippy-client/src/views/group-account/transfer/EnterPasswordView.vue
  trippy-client/src/views/group-account/transfer/SelectRecipientView.vue
  trippy-client/src/views/group-account/transfer/TransferCompleteView.vue
  trippy-client/src/views/group-account/transfer/TransferReviewView.vue
Labels: groupAccount

#138 [FEAT] 모임계좌 카카오톡 초대 링크 생성 API 연동 (#137)
  trippy-client/src/api/groupAccount.js
  trippy-client/src/api/index.js
  trippy-client/src/main.js
  trippy-client/src/stores/groupAccountJoinStore.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/group-account/create-account/CreateCompleteView.vue
Labels: groupAccount

#150 [FEAT] 내 계좌 등록 API 연동
  trippy-client/src/api/index.js
  trippy-client/src/api/personalAccount.js
  trippy-client/src/components/account/personal-accounts/SelectAccountItem.vue
  trippy-client/src/components/account/personal-accounts/import-accounts/SelectAccounts.vue
  trippy-client/src/components/common/loading/LoadingView.vue
  trippy-client/src/components/home/AccountCard.vue
  trippy-client/src/stores/accountStore.js
  trippy-client/src/stores/personalAccount.js
  trippy-client/src/views/personal-accounts/ImportAccountView.vue
Labels: PersonalAccounts

#181 [FEAT] 알림 뷰 퍼블리싱 완료
  trippy-client/src/components/home/NotificationCard.vue
  trippy-client/src/router/index.js
  trippy-client/src/views/Notifications.vue
Labels: Home

#151 [FEAT] 계좌 목록 (계좌 목록 뷰) API 연동(#149)
  trippy-client/src/api/account.js
  trippy-client/src/api/groupAccount.js
  trippy-client/src/stores/accountStore.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/AccountListview.vue
Labels: groupAccount, Account

#190 [FEAT] 여권 등록 기능 추가
  trippy-client/src/components/common/inputs/EditableInput.vue
  trippy-client/src/components/identification/GenderSelect.vue
  trippy-client/src/views/identification/passport/RegistrationView.vue
  trippy-client/src/views/identification/resident-card/RegistrationView.vue
Labels: Identification

#165 [FEAT] 계좌 거래 내역 필터링 API 연동 (#164)
  trippy-client/src/api/account.js
  trippy-client/src/api/groupAccount.js
  trippy-client/src/components/account/TransactionFilter.vue
  trippy-client/src/stores/accountStore.js
  trippy-client/src/stores/groupAccountStore.js
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/personal-accounts/AccountDetailView.vue
Labels: groupAccount, Account

#168 [FEAT] 정산요청 API 연동 (#166)
  trippy-client/src/api/groupAccount.js
  trippy-client/src/components/account/group-account/SettleMemberItem.vue
  trippy-client/src/components/common/inputs/AmountInput.vue
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/useSettleStore.js
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/group-account/settle-request/EnterSettleAmountView.vue
  trippy-client/src/views/group-account/settle-request/TargetView.vue
Labels: groupAccount

#188 [FEAT] 환율 정보 목록 API 연동 (#159)
  trippy-client/src/api/exchange.js
  trippy-client/src/components/account/AccountItem.vue
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/exchange-currency/SelectAccountView.vue
  trippy-client/src/views/exchange-currency/SelectView.vue
  trippy-client/src/views/exchange-rate/ExchangeRateListView.vue
Labels: exchange

#191 [FEAT] 돈 채우기/보내기 API 연동 (#155)
  trippy-client/src/api/transfer.js
  trippy-client/src/components/account/AmountInputScreen.vue
  trippy-client/src/components/account/CompleteTransfer.vue
  trippy-client/src/components/account/ConfirmTransfer.vue
  trippy-client/src/components/account/SelectAccountModal.vue
  trippy-client/src/components/account/personal-accounts/SendFormScreen.vue
  trippy-client/src/components/common/inputs/AmountInput.vue
  trippy-client/src/stores/transferStore.js
  trippy-client/src/views/TravelLogsView.vue
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/personal-accounts/AccountDetailView.vue
  trippy-client/src/views/personal-accounts/AddMoneyView.vue
  trippy-client/src/views/personal-accounts/SendMoneyView.vue
Labels: PersonalAccounts

#210 [FEAT] 환전 기능 : 선택한 통화 환율, 계좌 잔액 출력 API 연동
  trippy-client/src/api/exchange.js
  trippy-client/src/components/account/AccountItem.vue
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/exchange-currency/InputAmountView.vue
  trippy-client/src/views/exchange-currency/SelectAccountView.vue
Labels: exchange

#208 [FEAT] 티켓 전체 조회, 상세 조회 API 연동 (#192)
  trippy-client/src/_dummy/airTicket_dummy.json
  trippy-client/src/api/airTicket.js
  trippy-client/src/assets/utils/index.js
  trippy-client/src/components/air-ticket/TicketItem.vue
  trippy-client/src/components/air-ticket/TicketModal.vue
  trippy-client/src/stores/airTicketStore.js
  trippy-client/src/views/air-ticket/AirTicketView.vue
Labels: AirTicket

#216 [FEAT] 숙소/관광 전체 조회 (#194)
  trippy-client/package-lock.json
  trippy-client/src/api/voucher.js
  trippy-client/src/assets/utils/index.js
  trippy-client/src/components/boucher/AccommodationItem.vue
  trippy-client/src/components/boucher/SightseeingItem.vue
  trippy-client/src/stores/accommodationStore.js
  trippy-client/src/stores/sightseeingStore.js
  trippy-client/src/views/boucher/BoucherView.vue
Labels: Accommodation🏠, Sightseeing🎠🎡🎟️🛟

#209 [FEAT] Navigation Guard 적용 (#205)
  trippy-client/src/router/index.js
Labels: User

#218 [FIX] background 잘리는 문제 해결 (#92)
  trippy-client/src/App.vue
Labels: Common

#219 [FEAT] 모임계좌 정산하기 API 연동 및 출력 값 조건처리 (#201)
  trippy-client/src/api/transfer.js
  trippy-client/src/components/account/AmountInputScreen.vue
  trippy-client/src/components/account/CompleteTransfer.vue
  trippy-client/src/components/account/ConfirmTransfer.vue
  trippy-client/src/components/account/TransactionItem.vue
  trippy-client/src/components/common/inputs/PasswordInput.vue
  trippy-client/src/registerServiceWorker.js
  trippy-client/src/router/groupAccount.js
  trippy-client/src/stores/transferStore.js
  trippy-client/src/stores/useSettleStore.js
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/group-account/settle-request/TargetView.vue
  trippy-client/src/views/group-account/transfer/EnterAmountView.vue
  trippy-client/src/views/group-account/transfer/SelectRecipientView.vue
  trippy-client/src/views/personal-accounts/AccountDetailView.vue
  trippy-client/src/views/personal-accounts/SendMoneyView.vue
Labels: groupAccount, Account

#224 [FEAT] 홈 화면 환율 데이터 연동 (#211)
  trippy-client/src/api/exchange.js
  trippy-client/src/components/home/ExchangeRateItems.vue
  trippy-client/src/stores/exchangeStore.js
  trippy-client/src/views/HomeView.vue
Labels: Home, exchange

#226 [FIX] QR코드 크기 수정 (#225)
  trippy-client/src/components/payment/Card.vue
  trippy-client/src/components/payment/QrCode.vue
  trippy-client/src/views/payment/CardNicknameView.vue
Labels: Payment

#231 [FEAT] PWA 테마 색상 변경 및 모바일 뷰 최적화
  trippy-client/public/manifest.json
  trippy-client/src/App.vue
  trippy-client/src/components/common/modals/TermsModal.vue
  trippy-client/src/components/layouts/TopNavigationBar.vue
Labels: Common

#227 [FEAT] 개인계좌 목록 API 연동 (#222)
  trippy-client/src/components/account/SelectAccountModal.vue
  trippy-client/src/components/account/group-account/RepresentativeAccountList.vue
  trippy-client/src/components/common/CategoryChip.vue
  trippy-client/src/views/group-account/create-account/AgreementStep6View.vue
  trippy-client/src/views/group-account/detail/AccountDetailView.vue
  trippy-client/src/views/group-account/join/PickRepresentativeView.vue
  trippy-client/src/views/personal-accounts/AccountDetailView.vue
  trippy-client/src/views/personal-accounts/AddMoneyView.vue
Labels: groupAccount, PersonalAccounts, Account

#235 [FEAT] OCR 백앤드 연동
  trippy-client/src/api/identification.js
  trippy-client/src/api/ocr.js
  trippy-client/src/components/common/inputs/EditableInput.vue
  trippy-client/src/components/identification/DocumentIntro.vue
  trippy-client/src/components/identification/script/use-camera-detection.js
  trippy-client/src/stores/identificationStore.js
  trippy-client/src/stores/ocrStore.js
  trippy-client/src/views/identification/CaptureView.vue
  trippy-client/src/views/identification/passport/RegistrationView.vue
  trippy-client/src/views/identification/resident-card/RegistrationView.vue
  trippy-client/src/views/identification/resident-card/ResidentCardView.vue
Labels: Identification

#238 chore : 국민은행 로고 추가
  trippy-client/src/components/account/personal-accounts/SelectAccountItem.vue
Labels: PersonalAccounts
